<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method='post' th:action="${/user}">
    <label>
        User Name
        <input type="text" name="userName" th:value="${user}">
    </label>
    <label>
        Email
        <input type="email" name="email" th:value="${email}">
    </label>
    <label>
        Password
        <input type="password" name="password">
    </label>
    <label>
        Verify Password
        <input type="password" name="verifiedPassword">
    </label>
    <input type="submit" value="Submit">
    <p th:text="${error}"></p>
</form>

</body>
</html>